:root{

       --background-color: initial;
       --transition: initial;
       --cursor: pointer;
       --border-radius: initial;
       --border-width: initial;
       --border-color: initial;
       --border-style: initial;
       --padding: initial;
       --color: initial;
       --font-size: initial;
       --text-transform: initial;
       --box-shadow: initial;
        
        
      
       --background-color-hover: initial;
       --border-radius-hover: initial;
       --border-color-hover: initial;
       --padding-hover: initial;
       --color-hover: initial;
       --font-size-hover: initial;
       --box-shadow-hover: initial;
        
        
   
       --background-color-container: initial;

        
}
body{
    --main-color:rgb(0, 117, 255);
    margin: 0;
    font-family: sans-serif;
}
/* STRUCTURE */
/* GENERAL */
.app-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  
}
.column-2-rows{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}
.column-1-rows{
    overflow: hidden;
        height: 100vh;
        width: 50%;
       
}


.config-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    height: 80vh;
    padding: 2rem;
    box-sizing: border-box;
}
.column{
    width: 45%;
}

/* BUTTON PREVIEW */
/* GENERAL */
.viewport{

    overflow: hidden;
    position: relative;

}
.container{
    background-color: var(--background-color-container);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.zoomed .container{
    transform: scale(2);
}

/* BUTTON PREVIEW */
/*SCALE CONTROL*/
.scale-control{
    position: absolute;
    color: white;
    font-size: 24px;
    z-index: 2;
    top: 0;
    background-color: var(--main-color);
    right: 0;
    padding: 1rem;
    user-select: none;
}
.scale-control span{
    padding: .3rem;
}
.scale-control span:last-child{
    box-shadow: none;
    cursor: pointer;
}
.scale-control span:first-child{
    box-shadow: 0 0 0 2px white;
    cursor: default;
}
.zoomed .scale-control span:last-child{
    box-shadow: 0 0 0 2px white;
    cursor: default;
}
.zoomed .scale-control span:first-child{
    box-shadow: none;
    cursor: pointer;
}
.scale-control span:hover{
    box-shadow: 0 0 0 2px white;
}

/*CODE VIEWER*/
/*GENERAL*/
.code-wrapper{
    background-color: rgb(45, 45, 45);
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    box-sizing: border-box;
    border-right: 2px solid black;
    height: 50vh;
    line-height: 1.5rem;
    overflow: auto;
    
}
.code-wrapper-title{
 
    background-color: #222;
    padding:1rem;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.css-code-container,.html-code-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;
}
/*CODE VIEWER*/
/*COPY TO CLIPBOARD BUTTON*/
use{
    pointer-events: none;
}
.tooltip::after{
    z-index: 200;
    content:"Copied to Clipboard";
    position: absolute;
    top: .5rem;
    font-size: .8rem;
    background-color: var(--main-color);
    padding: .5rem;
    border-radius: .2rem;
    left: 1rem;
    transition: .3s;
}
.tooltip-fade::after{
opacity: 0;
}
.code-wrapper-title h2{
    text-align: end;
    margin: 0 2rem;
}
.code-wrapper-title img{
    user-select: none;
    cursor: pointer;
}
.code-wrapper-title img:active{
    filter: opacity(55%);
    cursor: pointer;

}

/*CODE VIEWER*/
/*CSS VIEW FORMAT*/
.css-bracket,.css-semicolon{
    color: white;
}
.css-selector{
    color: lightskyblue;
}
.css-prop{
    color: lightyellow;
    padding-left: 2rem;
}
.css-value{
    color:lightgreen;
}
/*CODE VIEWER*/
/*HTML VIEW FORMAT*/
.html-code-container div{
    padding: 0 0 0 2rem;
}
.html-symbol{
    color: #999;
}
.html-tag{
    color: cornflowerblue; 
}
.html-attr{
    color: lightcyan;
}
.html-class{
    color: sandybrown;
}

/*TEMPLATES*/
/*GENERAL*/
.templates-wrapper{
    position: relative;
    overflow-x: auto;
    width: 100%;
    height: 20vh;
}
.templates{
   position: absolute;
   height: 100%;
   background-color: red;
   display: flex;
   flex-direction: row;
   top: 0;
   left: 0;
  
}
.templates div{
   width: 20rem;
   height: 100%;
   background-color: blue;
   display: flex;
   justify-content: center;
   align-items: center;
}
/*INPUT PANEL*/
/*GENERAL*/
.config-container p{
    margin: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
   
}
/*PROPERTY CARDS*/
/*GENERAL*/
.property-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: inset 8px 0 0 var(--main-color);
    margin-bottom: 1rem;
    padding: 1rem 0;
    position: relative;
    transition: padding .5s;
}
.property-wrapper:hover{
    box-shadow: inset 8px 0 0 rgb(0, 0, 0);
}
.selector{
    position: relative;
    padding: .8rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.selector label{
    padding-right: .5rem;
    font-size: .8rem;
    user-select: none;
}
.selector input{
    max-width: 9vw;
}
/*PROPERTY CARDS*/
/* PROPERTY DISABLED */
.property-off{
    padding: 0;
}
.property-off input{
    display: none;

}
.property-off select{
    display: none;

}
.property-off .hover-container label::after{
    content:none;
}
.remove-property-button{
    user-select: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    transform: rotate(45deg);
    font-size: 27px;
    transition: .5s;
}
.remove-property-button:hover{
    color: red;
}
.property-off .remove-property-button{
    transform: rotate(0deg);
}
.property-off .remove-property-button:hover{
    color: var(--main-color);
}
/*PROPERTY CARDS*/
/*HOVER*/
.hover-container{
   margin-top: -1.7rem;
   padding-left: 4rem;
}
.hover-container label::after{
    content: ":hover";
    font-size: .8rem;
    color: goldenrod;
    cursor: pointer;
}
.hover-container label:hover::after{
    color: #ccc;
    text-decoration:line-through;
}
.hover-freeze label::after{
    color: #ccc;
    text-decoration:line-through;
}
.hover-freeze label:hover::after{
    color: goldenrod;
    text-decoration:none;
}
.hover-freeze .hover-input{
    pointer-events: none;
    opacity: .2;
}
/*PROPERTY CARDS*/
/*HIDE*/
.transition-card,.cursor-card{
    display: none;
}
#hover-background-color-container{
    display: none;
}


/*BUTTON*/
.button{
     background-color: var(--background-color);
     transition: var(--transition);
     cursor: var(--cursor);
     border-color:var(--border-color);
     color: var(--color);
     border-style: var(--border-style);
     text-transform: var(--text-transform);
     border-width:var(--border-width);
     border-radius: var(--border-radius);
     font-size: var(--font-size);
     box-shadow: var(--box-shadow);
     padding: var(--padding);
}
.button:hover{
    background-color: var(--background-color-hover);
     border-color:var(--border-color-hover);
     color: var(--color-hover);
     border-width:var(--border-width-hover);
     border-radius: var(--border-radius-hover);
     font-size: var(--font-size-hover);
     box-shadow: var(--box-shadow-hover);
     padding: var(--padding-hover);
    }




